.App {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.welcome-title {
  text-shadow: 8px 8px 8px rgba(0, 0, 255, 0.794);
  text-align: center;
  font-size: 64px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.734);
}

.signup {
  max-width: 600px;
  margin: 2rem auto;
}

.form-label {
  color: rgba(7, 7, 7, 0.52);
}

button {
  height: 40px;
}

.pantry-list {

}

.addpantry {
  margin-bottom: 1rem;

}

.welcome-component {

}

.card-title {
  color: rgba(130, 121, 121, 0.874)
}

.card-body {
  color: rgba(252, 245, 245, 0.902)
}

.card-footer {
  color: rgba(130, 121, 121, 0.874)
}

.container-fluid {
  margin: 0rem 2rem;
}

.card-img-top {
  max-width: 8rem;
}

.card-brand {
  display: flex;
  justify-content: space-between;
}

.card-qty {
  display: flex;
  text-align: center;
}

.card-qty input {
  text-align: center;
  margin: 0 1rem;
}






