.App {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.welcome-title {
  text-shadow: 8px 8px 8px rgba(0, 0, 255, 0.794);
  text-align: center;
  font-size: 64px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.734);
}

.signup {
  max-width: 600px;
  margin: 2rem auto;
}

.form-label {
  color: rgba(7, 7, 7, 0.52);
}

button {
  height: 40px;
}

.container {
  padding: 2rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.541);
}

.container h2 {
  color: white;
  margin-bottom: 1rem;
}

#login {
  margin-top: 1rem;
}

#login-btn {
  text-decoration: none;
  list-style: none;
}

.navbar-brand {
  margin-left: 1rem;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 1rem;
}

.navbar-right p, a {
  margin-right: 1rem;
}

#navbar-displayName {
  color:white;
  font-size: .8rem;
}

.welcome-component {
  margin-top: 1rem;
}

.addpantry {
  display: flex;
  justify-content: center;
}

.addpantrybox {
  width: 400px;
}

.container-fluid {
  justify-content: center;
}

.row {
  justify-content: center;
}

.card-dark {
  margin: .5rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.541);
}

.search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  margin: 1rem .5rem;
}

.search input {
  margin: 0;
  padding: 0;
}

.addproduct {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pantryId {
  padding: 6px 12px;
  margin-top: .5rem;
  margin-bottom: .5rem;
  border-radius: .25rem;
  width: 150px;
}

.add {
  padding: 0;
  margin: 0;
  width:150px;
}

.card-dark {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body {
  /* padding: 0; */
}

.card-body h5 {
  font-size: .85rem;
}

.card-body p {
  font-size: .75rem;
}
















.addpantry {
  margin-bottom: 1rem;

}

.card-title {
  color: rgba(130, 121, 121, 0.874)
}

.card-body {
  color: rgba(252, 245, 245, 0.902)
}

.card-footer {
  color: rgba(130, 121, 121, 0.874)
}



.card-img-top {
  max-width: 8rem;
}

.card-brand {
  display: flex;
  justify-content: space-between;
}

.card-qty {
  display: flex;
  text-align: center;
}

.card-qty input {
  text-align: center;
  margin: 0 1rem;
}






